.card {
    text-align: center;
    color: steelblue;
}
image {
    text-align: center;
    color: steelblue;
}
main {
    text-align: center;
    color: steelblue;
}
h4 {
    text-align: center;
    color: steelblue;
}
h1 {
    text-align: center;
    color: steelblue;
}
p {
    text-align: center;
    color: steelblue;
}
.left {
    text-align: left;
    color: steelblue;
}
    .bottomtext {
        text-align: center;
        color: steelblue;
    }
.middle {
    text-align: center;
    color: steelblue;
}
    .bottomtext {
        text-align: center;
        color: steelblue;
    }
.right {
    text-align: right;
    color: steelblue;
}
    .bottomtext {
        text-align: center;
        color: steelblue;
    }
